{
  "extends": ["airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/extensions": [
      "error",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/prefer-default-export": "off",
    "no-console": "off",
    "react/prop-types": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "max-classes-per-file": "off",
    "react/jsx-props-no-spreading": "off"
  }
}